*{margin: 0;padding: 0}
body{
    background-color: rgb(226, 75, 75);
    padding-top: 10vh;
    top: -50px;
    z-index: 1;
}

.form-container{
    width:250px;
    height:auto;
    padding: 10px 150px;
    background-color:grey;
    border-radius: 100px;
    box-shadow: 0 0 10px 0 #000;
    margin: auto;

}

.user-image{
    background:url('uhlogo.png') no-repeat;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-size: 100%;
    position: relative;
    right: -560px;
    top: 60px;
    z-index: -1;
    
}

ul.list{
    list-style-type: none;
    text-align: center;
}

ul.list li{
    width: 250px;
    margin-bottom: 15px;
}

ul.list li input{
    width:  250px;
    text-align: center;
    padding: 8px 0px;
    border: none;
    background-color: #d3d3dd;
    border-radius: 50px;
}

ul.list li input[type="button"]{
    
    background-color: rgb(46, 46, 46);
    color:white;
}

ul.list li:nth-child(5){
    color: darkred;
}


ul.list li:nth-child(6){
    color: darkred;
}
h1{
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  h3{
    font-size: 10px;
    color: rgb(204, 197, 197);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  
  table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  
  